.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    color: whitesmoke
}

.title {
    margin: 10px 0;
    color: whitesmoke
}

.buttons {
    display: flex;
    justify-content: space-between;
    color:#66CDAA;
}